/* Home.css */

/* General font family for the Home component */
.home-container {
    font-family: 'Inter', sans-serif; /* Change to your selected font */
    text-align: center; /* Center the text */
    background-image: url('/background.png'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black; /* Adjust for readability */
  }
  
  h1 {
    font-size: 3rem; /* Adjust size for emphasis */
    font-weight: 600; /* Bold weight */
    margin: 0.5rem 0;
  }
  
  p {
    font-size: 1.5rem; /* Slightly smaller for subtext */
    font-weight: 300; /* Light weight */
    margin: 0;
  }
  
  